@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Open+Sans:wght@300;400;500;600;700&family=Racing+Sans+One&family=Raleway:wght@300;400&display=swap");

$oleo: "Oleo Script Swash Caps", cursive;
$opensans: "Open Sans", sans-serif;
$racing: "Racing Sans One", cursive;
$raleway: "Raleway", sans-serif;
